@media (max-width: 760px) {
}

body {
	/* background-color: rgba(64, 175, 197, 0.781); */
	/* background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png);  */
	background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png);
	/* from https://www.toptal.com/ */
	font-style: normal;
	font-weight: 900;
	font-family: "Open sans", sans-serif;
	color: rgb(0, 0, 0);
}

label {
	display: block;
}

button {
	background-color: #13131388;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
}
button:hover {
	background-color: rgba(201, 89, 79, 0.5);
	color: white;
}

.text-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40%;
	left: 50%;
	font-family: "Courgette", sans-serif;
	text-shadow: 20px 20px 20px black;
	transform: translate(-50%, -50%);
	font-size: 30px;
}
.text-container p:nth-child(2) {
	width: 100%;
	text-align: right;
	font-size: 15px;
}
form {
	display: grid;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin: 2rem auto 0 auto;
	max-width: 600px;
	padding: 1em;
}
form input {
	background: #fff;
	border: 1px solid #9c9c9c;
}
form button {
	background: lightgrey;
	padding: 0.7em;
	width: 100%;
	border: 0;
	display: flex;
	flex-direction: row-reverse;
}
label {
	padding: 0.5em 0.5em 0.5em 0;
	grid-column: 1 / 2;
}
input {
	padding: 0.7em;
	margin-bottom: 0.5rem;
	grid-column: 2 / 2;
}
.navigator {
	background-color: rgba(165, 165, 165, 0.5);
}

.navigator nav.dashboard-ui {
	display: flex;
	justify-content: flex-end;
}
.navigator nav {
	padding: 0 20px;
}
#username {
	margin-right: 20px;
}
#transactionChart {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}
.chart-wrapper {
	display: block;
	justify-content: center;
	width: 800px;
	height: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	-webkit-animation: float 5s infinite;
	animation: float 5s infinite;
}

thead tr {
	background-color: #009879;
	color: #333333; /* Soft black */
	text-align: left;
	font-weight: bold;
	padding: 20px; /* Added padding */
}

tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: #f5f5f5;
	padding: 20px; /* Added padding */
}

tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}

tbody tr:hover {
	background-color: #d1d1d1;
	cursor: pointer;
}

td {
	padding: 10px;
	text-align: left;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
	thead {
		display: none; /* Hide header on mobile */
	}

	tbody tr {
		border: 1px solid #dddddd; /* Add border to rows on mobile */
	}

	td {
		display: flex; /* Make cells display as flex items */
		flex-wrap: wrap; /* Allow cell contents to wrap */
	}

	/* Make type icon and description take up full width on mobile */
	td:first-child,
	td:nth-child(2) {
		width: 100%;
	}
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-5px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
