@media screen and (width <= 767px) {
	div.navigator nav.dashboard-ui {
		justify-content: space-between;
	}

	.logout {
		height: auto;
		padding: 6px 16px;
	}

	.dashboard-ui p {
		display: grid;
		place-items: left center;
		font-size: 12px;
	}

	/* Add a class to open rows */
	.open td:nth-of-type(1),
	.open td:nth-of-type(5) {
		display: table-cell;
	}

	.transaction-chart {
		gap: 32px;
	}
	.transaction-chart div {
	}
}

body {
	/* background-color: rgba(64, 175, 197, 0.781); */
	/* background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png);  */
	background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png);
	/* from https://www.toptal.com/ */
	font-style: normal;
	font-weight: 900;
	font-family: "Open sans", sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

label {
	display: block;
}

.container-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden !important;
}

button {
	background-color: #13131388;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
}
button:hover {
	background-color: rgba(201, 89, 79, 0.5);
	color: white;
}

.text-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40%;
	left: 50%;
	font-family: "Courgette", sans-serif;
	text-shadow: 20px 20px 20px black;
	transform: translate(-50%, -50%);
	font-size: 30px;
}
.text-container p:nth-child(2) {
	width: 100%;
	text-align: right;
	font-size: 15px;
}

label {
	text-align: right;
}

form {
	display: flex;
	flex-direction: column;
	grid-gap: 1rem;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin: 2rem auto 0 auto;
	max-width: 450px;
	padding: 1em;
}

form .form-group {
	display: grid;
	grid-template-columns: minmax(120px, 1fr) minmax(180px, 1fr);
	grid-gap: 0.5rem;
}

.notification {
	grid-column: 2/3;
	text-align: right;
}

form input {
	background: #fff;
	border: 1px solid #9c9c9c;
}

.form-submit-button {
	grid-column: 1 / -1;
}

form button {
	background: lightgrey;
	padding: 0.7em;
	width: 100%;
	border: 0;
	display: flex;
	flex-direction: row-reverse;
}
label {
	display: flex;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5em 0.5em 0.5em 0;
	grid-column: 1 / 2;
}
input {
	padding: 17px;
	grid-column: 2 / 2;
}
.navigator {
	background-color: rgba(165, 165, 165, 0.5);
}

.navigator nav.dashboard-ui {
	display: flex;
	justify-content: flex-end;
	height: 5vh;
}
.navigator nav {
	padding: 12px 20px;
}
#username {
	margin-right: 20px;
}

.chart-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	min-width: 800px;
	height: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

table {
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead tr {
	background-color: rgba(201, 89, 79, 0.5);
	color: #333333; /* Soft black */
	text-align: left;
	font-weight: bold;
	padding: 20px; /* Added padding */
}

tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: #f5f5f5;
	padding: 20px; /* Added padding */
}

tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}

tbody tr:hover {
	background-color: #d1d1d1;
	cursor: pointer;
}

td {
	width: auto;
	padding: 10px;
	text-align: left;
}

.notification {
	font-size: 10px;
	color: red;
}
input[type="submit"] {
	cursor: pointer;
	border-radius: 10px;
	background-color: #13131388;
	color: white;
}
input[type="submit"]:hover {
	background-color: rgba(201, 89, 79, 0.5);
	transition-duration: 0.4s;
}

#fetchData {
	display: grid;
	height: calc(100vh - 5vh);
	max-height: calc(100vh - 5vh);
	grid-template-columns: 1fr;
	grid-template-rows: minmax(175px, 47.5vh);
	max-width: 100vw;
	overflow-x: hidden;
}

.transaction-chart {
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 1fr));
	grid-template-rows: 1fr;
	overflow-y: hidden;
	overflow-x: auto;
	gap: 32px;
	width: 100%;
	min-width: 100%;
	height: calc(100vh - 5vh - 47.5vh);
	box-sizing: border-box;
}

.transaction-chart div {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
}

.chart-wrapper {
	display: flex;
	flex-direction: row;
	padding: 22px 0px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.transaction-history {
	height: calc(100vh - 5vh - 47.5vh);
	width: 100%;
	max-height: calc(100vh - 5vh - 47.5vh);
	overflow-y: auto;
	background-color: #333333;
	box-sizing: border-box;
}

/* Wrapper for transaction description and type */
.transactions-dsc-type_wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.transactions-dsc-type_wrapper table {
	height: 100%;
}

.transactions-dsc-type_wrapper h5 {
	font-size: 14px;
	margin: 0;
}

.transactions-dsc-type_wrapper p {
	margin: 0;
	font-size: 10px;
	font-weight: 400;
}
